:root {
    font-size: 1rem;
    /* font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-variant-numeric: lining-nums;
}

* {
    box-sizing: border-box;
    /* outline: 1px dashed rgb(0%,0%,80%); */
    --border-color: rgb(0%,0%,20%);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-canvas {
    width: 800px;
    height: 600px;
    border: 10px solid var(--border-color);
    /* aspect-ratio: 4/3; */
    /* max-width: 1vw; */
}

#messages-output {
    width: 800px;
    /* max-width: 1vw; */
    /* a screen shows 80x25 lines, but let's just have 5 lines of messages */
    --message-lines: 5;
    height: calc(600px / 25 * var(--message-lines));
    border: 10px solid var(--border-color);
    border-top-width: 0px;
    overflow-y: scroll;
}

#fps-counter {
    align-self: flex-end;
}